/**
 * Custom Carousel
 * Author: Graffino (http://www.graffino.com)
 */

        .slider-nav {
            color: #ffffff;
        }

        .simple-nav {
            width: 100%;
            opacity: 0.15;
        }

        .slick-current {
            opacity: 1;
        }

        .slider-for .slider-simple {
            display: flex;
            align-items: center;
            justify-content: center;
        }
